<h2>Show Administrator</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @administrator.email %>
  </li>

</ul>

<span><%= link "Edit", to: administrator_path(@conn, :edit, @administrator) %></span>
<span><%= link "Back", to: administrator_path(@conn, :index) %></span>
